<div class="d-flex justify-content-center align-items-center" style="height: 75vh; background: url('/images/banner-1.png') no-repeat center center/cover;">
    <div class="container d-flex justify-content-center">
        <div class="card p-3 shadow rounded" style="max-width: 550px; width: 100%; min-height: 280px;">
            <div class="text-center mb-3">
                <h1 class="text-cyan mt-3" style="font-size: 2rem;">Login</h1>
            </div>
            <form action="/login" method="POST" class="login-form">
                <div class="mb-3">
                    <input type="email" class="lf--input form-control" name="email" placeholder="Email" required>
                </div>
                <div class="mb-4">
                    <input type="password" class='lf--input form-control' name="password" placeholder="Password" required>
                </div>

                <div class="text-center mt-2">
                    <a href="/users/list" class="btn btn-dark btn-sm">Back</a>
                    <input class='lf--submit ms-2 btn bg-teal btn-sm' type='submit' value='LOGIN'>
                </div>
            </form>
        </div>
    </div>
</div>
