<footer class="py-5  bg-teal">
  <div class="container-lg ">
    <div class="row">

      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="footer-menu">

          <!-- <img src="/images/logo.png" width="240" height="70" alt="logo"> -->
          <h1 class="fw-bold">R.P.C</h1>
          <div>กิจการจำหน่ายสินค้าอุปกรณ์ทางการแพทย์</div>

        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="footer-menu">
          <h5 class="widget-title fw-bold">Social Media</h5>
          <ul class="menu-list list-unstyled">
            <li class="menu-item mt-3">
              <a href="https://www.facebook.com/profile.php?id=61570979126029" class="a" target="_blank"
                rel="noopener noreferrer">
                Facebook : หจก.อาร์ พี ซี อินเตอร์เทรด
              </a>

            </li>
            <li class="menu-item mt-2">
              <a href="#" class="a">ID Line : 0864562964 </a>
            </li>

          </ul>
        </div>
      </div>
      <div class="col-md-2 col-sm-6">
        <div class="footer-menu">
          <h5 class="widget-title fw-bold">Quick Link</h5>
          <ul class="menu-list list-unstyled">
            <li class="menu-item mt-3">
              <a href="/shop/products" class="a">Products</a>
            </li>
            <li class="menu-item mt-2">
              <a href="/shop" class="a">Categories</a>
            </li>
            <li class="menu-item mt-2">
              <a href="/about-us" class="a">About Us</a>
            </li>

          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="footer-menu">
          <h5 class="widget-title">Contact Us</h5>
          <ul class="menu-list list-unstyled">
            <li class="menu-item mt-3">
              <a href="#" class="a">Email : rpcintertrade2010@gmail.com</a>
              <h3></h3>
            </li>
            <li class="menu-item mt-2">
              <a href="#" class="a">Phone Number : 086-4562964  </a>
            </li>
           
          </ul>
        </div>
      </div>

    </div>
  </div>
</footer>