<!-- views/partials/navbar.ejs (with responsive improvements) -->
<head>
  <title>R.P.C</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="author" content="">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <link rel="stylesheet" href="/css/responsive.css">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="css/vendor.css">
  <link rel="stylesheet" type="text/css" href="style.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<style>
.nav-link {
  color: #fcfdfd; /* text-light */
  transition: color 0.2s ease-in-out;
}

.nav-link:hover {
  color: #10182f !important; /* text-dark */
}

/* Mobile responsive styling */
@media (max-width: 768px) {
  .search-bar {
    width: 100%;
    margin: 10px 0;
  }
  
  .navbar-nav {
    margin-top: 10px;
  }
  
  .navbar-brand h2 {
    font-size: 1.5rem;
  }
  
  .offcanvas {
    width: 80% !important;
  }
  
  .offcanvas-body ul li {
    margin-bottom: 10px;
  }
}

@media (max-width: 576px) {
  .search-bar {
    margin: 5px 0;
  }
  
  .search-bar input {
    height: 40px;
  }
  
  .navbar-brand h2 {
    font-size: 1.2rem;
  }
  
  .offcanvas-header h4 {
    font-size: 1rem;
  }
  
  .nav-item .nav-link {
    font-size: 0.9rem;
    padding: 5px 0;
  }
}
</style>

<nav class="bg-teal">
<header>
  <div class="container-fluid">
    <div class="row py-2 border-bottom align-items-center">
      
      <!-- Logo & Toggle Button -->
      <div class="col-6 col-sm-4 col-lg-2 text-center text-sm-start d-flex gap-3 justify-content-start">
        <div class="d-flex align-items-center my-2 my-sm-0">
          <a href="/" class="nav-link navbar-brand">
            <h2 class="text-light ms-2 ms-sm-4"><i class="fa-solid fa-heart-pulse"></i> R.P.C</h2>
          </a>
        </div>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
          aria-controls="offcanvasNavbar">
          <i class="fas fa-bars text-white"></i>
        </button>
      </div>
      
      <!-- Search Bar -->
      <div class="col-12 col-sm-10 col-md-8 col-lg-4 order-3 order-sm-2">
        <form id="search-form" action="/shop/search" method="get">
          <div class="search-bar bg-light p-2 rounded-4 d-flex align-items-center">
            <input 
              type="text" 
              class="form-control border-0 bg-transparent me-2" 
              name="q" 
              placeholder="Search for products"
            >
            <button 
              type="submit" 
              class="btn border-0 bg-transparent"
            >
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill="currentColor" d="M21.71 20.29L18 16.61A9 9 0 1 0 16.61 18l3.68 3.68a1 1 0 0 0 1.42 0a1 1 0 0 0 0-1.39ZM11 18a7 7 0 1 1 7-7a7 7 0 0 1-7 7Z"/>
              </svg>
            </button>
          </div>
        </form>
      </div>
      
      <!-- Navigation Links - Desktop -->
      <div class="col-6 col-lg-4 order-2 order-sm-3 d-none d-lg-block">
        <ul class="navbar-nav list-unstyled d-flex flex-row gap-3 gap-lg-5 justify-content-end flex-wrap align-items-center mb-0 fw-bold text-uppercase text-dark">
          <li class="nav-item active text-light">
            <a href="/" class="nav-link">Home</a>
          </li>
          <li class="nav-item text-light">
            <a href="/shop" class="nav-link">Shop</a>
          </li>
          <li class="nav-item text-light">
            <a href="/about-us" class="nav-link">ABOUT US</a>
          </li>
        </ul>
      </div>
      
      <!-- Login/Admin Links -->
      <div class="col-6 col-sm-4 col-lg-2 d-flex gap-2 align-items-center justify-content-end order-2 order-sm-3">
        <ul class="d-flex justify-content-end list-unstyled m-0">
          <% if (locals.isLoggedIn) { %>
            <li>
              <a href="#" class="p-2 mx-1 text-light" data-bs-toggle="offcanvas" data-bs-target="#offcanvasCart" aria-controls="offcanvasCart">
                <i class="fa-solid fa-user-tie"> Admin</i>
              </a>
            </li>
            
            <li><a href="/logout" onclick="return confirm('คุณต้องการออกจากระบบหรือไม่?')" class="p-2 mx-1 text-light"><i class="fa-solid fa-right-from-bracket">Logout</i></a></li>
          <% } else { %>
            <li>
              <a href="/login" class="p-2 mx-1 text-light">
                <i class="fa-solid fa-right-to-bracket"> Login</i>
              </a>
            </li>
          <% } %>
        </ul>
      </div>
    </div>
  </div>
</header>
</nav>

<!-- Mobile Sidebar Menu -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar">
<div class="offcanvas-header justify-content-between">
  <h4 class="fw-normal text-uppercase fs-6">Menu</h4>
  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>

<div class="offcanvas-body">
  <!-- Mobile Navigation Links -->
  <ul class="navbar-nav d-lg-none justify-content-start menu-list list-unstyled d-flex flex-column gap-2 mb-4">
    <li class="nav-item border-bottom py-2">
      <a href="/" class="nav-link d-flex align-items-center gap-3 text-dark">
        <i class="fa-solid fa-home"></i>
        <span>หน้าแรก</span>
      </a>
    </li>
    <li class="nav-item border-bottom py-2">
      <a href="/shop" class="nav-link d-flex align-items-center gap-3 text-dark">
        <i class="fa-solid fa-store"></i>
        <span>ร้านค้า</span>
      </a>
    </li>
    <li class="nav-item border-bottom py-2">
      <a href="/shop/products" class="nav-link d-flex align-items-center gap-3 text-dark">
        <i class="fa-solid fa-box"></i>
        <span>สินค้าทั้งหมด</span>
      </a>
    </li>
    <li class="nav-item border-bottom py-2">
      <a href="/about-us" class="nav-link d-flex align-items-center gap-3 text-dark">
        <i class="fa-solid fa-info-circle"></i>
        <span>เกี่ยวกับเรา</span>
      </a>
    </li>
  </ul>
  
  <hr class="my-3">
  
  <!-- Categories List -->
  <h5 class="mb-3">หมวดหมู่สินค้า</h5>
  <ul class="navbar-nav justify-content-end menu-list list-unstyled d-flex flex-column gap-md-3 mb-0">
    <% if (categories && categories.length > 0) { %>
      <% categories.forEach(category => { %>
        <li class="nav-item border-dashed">
          <a href="/shop/category/<%= category.id %>" class="nav-link d-flex align-items-center gap-3 text-dark p-2">
            <i class="fa-solid fa-arrow-right"></i>
            <span><%= category.name %></span>
          </a>
        </li>
      <% }); %>
    <% } else { %>
      <li>ไม่มีหมวดหมู่</li>
    <% } %>
  </ul>
</div>
</div>

<!-- Admin Sidebar -->
<div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasCart">
<div class="offcanvas-header justify-content-center">
  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
  <div class="order-md-last">
    <h3 class="d-flex justify-content-between align-items-center ms-4 mb-3">
      <span class="text-teal text-center"><i class="fa-solid fa-gear">เครื่องมือจัดการทำงาน</i></span>
    </h3>
    <ul class="list-group mb-3">
      <li class="d-flex mb-4 ms-3 justify-content-between lh-sm" style="border-bottom: 1px solid;">
        <div>
          <a href='/users/list' class="nav-link">
            <h5 class="my-0 text-dark"><i class="fa-solid fa-user"> จัดการผู้ใช้</i></h5>
          </a>
        </div>
      </li>
      <li class="d-flex mb-4 ms-3 justify-content-between lh-sm" style="border-bottom: 1px solid;">
        <div>
          <a href='/categories/' class="nav-link">
            <h5 class="my-0 text-dark"><i class="fa-solid fa-list"> หมวดหมู่</i></h5>
          </a>
        </div>
      </li>
      <li class="d-flex mb-4 ms-3 justify-content-between lh-sm" style="border-bottom: 1px solid;">
        <div>
          <a href='/products/' class="nav-link">
            <h5 class="my-0 text-dark"><i class="fa-solid fa-cart-shopping"> สินค้า</i></h5>
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>
</div>

<script src="js/jquery-1.11.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<script src="js/plugins.js"></script>
<script src="js/script.js"></script>