<section id="latest-blog" class="my-4 ">
    <div class="container-lg">
        <h3 class=" my-4 ">
            <a href="/" class="a text-dark">หน้าแรก</a> / <h class=""> เกี่ยวกับเรา </h>
            
          </h3>


      <div class="card p-4">
        <div class="row g-0 h-100">
          <!-- ฝั่งซ้าย: รูปภาพ -->
          <div class="col-md-4">
            <div class="h-100 bg-blue">
                <h1 class = 'text-center'>ช่องรูปภาพ</h1>
              <!-- <img src="/images/banner-1.png" class="img-fluid h-100 w-100 object-fit-cover rounded-start" alt="เกี่ยวกับเรา"> -->
            </div>
          </div>
      
          <!-- ฝั่งขวา: เนื้อหา -->
          <div class="col-md-8">
            <div class="h-100 p-4 d-flex flex-column justify-content-center">
              <h3 class="my-2 text-dark fw-bold">ประกอบกิจการ</h3>
              <p>
                ประกอบกิจการจำหน่ายสินค้าวัสดุอุปกรณ์ทางการแพทย์ ครุภัณฑ์ทางการแพทย์ วัสดุอุปกรณ์ในห้องปฏิบัติการ ครุภัณฑ์สำหรับห้องปฏิบัติการ สารเคมีในห้องปฏิบัติการ งานสมุนไพรแปรรูป ผลิตภัณฑ์โอทอป งานฝีมือ เครื่องมือและน้ำยาทำความสะอาด อุปกรณ์ความปลอดภัยในโรงพยาบาลและโรงงานอุตสาหกรรม อุปกรณ์กู้ภัย อุปกรณ์สำนักงาน เครื่องเคหะภัณฑ์ เครื่องเรือน วัสดุก่อสร้างและเครื่องมือใช้ในงานก่อสร้าง และเครื่องตกแต่งทุกชนิด
              </p>
      
              <h3 class="my-2 text-dark fw-bold">เกี่ยวกับเรา</h3>
              <p>
                บริษัทเป็นผู้ประกอบการวิสาหกิจขนาดกลางและขนาดย่อม (SMEs) ที่มีประสบการณ์มากกว่า 15 ปีในอุตสาหกรรมการจัดจำหน่ายสินค้าเพื่อสุขภาพและความปลอดภัย เรามุ่งมั่นในการคัดสรรผลิตภัณฑ์คุณภาพสูงจากผู้ผลิตที่ได้รับการรับรองมาตรฐานสากล
              </p>
              <h3 class="my-2 text-dark fw-bold">ที่ตั้งสำนักงานใหญ่</h3>
              <p>
                555/813 หมู่ 2 ตำบลศิลา อำเภอเมืองขอนแก่น จังหวัดขอนแก่น 40000
              </p>
            </div>
          </div>
        </div>
      </div>
      
      
    </div>
  </section>