<div class="">
    <div class="custom-container-lg mx-auto d-flex flex-column mb-5 bg">
      <div class="card mt-5 mb-5">
      <div class="d-flex justify-content-between align-items-center  mb-1 col-12">
        <h1 class="text-cyan">New Category</h1>
      </div>
      <form action="" method="">
    
    
        <div class="mb-3">
        <label>Name Category</label>
        <input type="" class="form-control style="width: 100%;" name="name" value="" placeholder="Name Category" required>
        </div>
        <div class="mb-3">
        <label>image</label>
          ช่องในรูปภาพ
        </div>

        <div class="text-center">
          <a href="/users/list" class="btn btn-dark">Back</a>
          <button type="submit" class="btn bg-teal">Submit</button>
      </div>
    
    
      </form>
    </div>
    </div>
    </div>